<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ebay.mappers.GmStudentMapper">
    <resultMap id="baseResultMap" type="com.ebay.models.GmStudent">
        <id property="id" column="id"></id>
        <result property="classId" column="classId"></result>
        <result property="name" column="name"></result>
        <result property="studentNo" column="studentNo"></result>
        <result property="isDelete" column="isDelete"></result>
        <result property="sex" column="sex"></result>
        <result property="birthday" column="birthday"></result>
        <result property="createAt" column="createAt"></result>
        <result property="updateAt" column="updateAt"></result>
    </resultMap>

    <select id="getStudentList" resultMap="baseResultMap">
        select *
        from `gm_student`
        where 1=1
        <if test="classId != null">and classId=#{classId}</if>
        <if test="studentNo != null and studentNo != ''">and studentNo=#{studentNo}</if>
        <if test="isDelete != null">and isDelete=#{isDelete}</if>
        <if test="name != null and name != ''">and name like CONCAT('%',#{name},'%')</if>
        <if test="birthday != null">and DATE_FORMAT(birthday,'%Y-%m-%d')=#{birthday}</if>
        ORDER BY createAt desc
        <if test="start != null">limit #{start}, #{size}</if>
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from `gm_student`
        where 1=1
        <if test="studentNo != null">and studentNo=#{studentNo}</if>
        <if test="isDelete != null">and isDelete=#{isDelete}</if>
        <if test="name != null">and name like CONCAT('%',#{name},'%')</if>
        <if test="birthday != null">and DATE_FORMAT(birthday,'%Y-%m-%d')=#{birthday}</if>
    </select>

    <select id="findByClassId" resultMap="baseResultMap">
        select *
        from `gm_student`
        WHERE classId=#{classId} and role=#{role}
        limit 0,1
    </select>

    <select id="findById" resultMap="baseResultMap">
        select *
        from `gm_student`
        WHERE id=#{id} limit 0,1
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into gm_student (classId,createAt
        <if test="isDelete != null">,isDelete</if>
        <if test="name != null">,name</if>
        <if test="studentNo != null">,studentNo</if>
        <if test="sex != null">,sex</if>
        <if test="birthday != null">,birthday</if>
        )
        values (#{classId},now()
        <if test="isDelete != null">,#{isDelete}</if>
        <if test="name != null">,#{name}</if>
        <if test="studentNo != null">,#{studentNo}</if>
        <if test="sex != null">,#{sex}</if>
        <if test="birthday != null">,#{birthday}</if>
        )
    </insert>

    <update id="update">
        UPDATE gm_student SET classId=#{classId},updateAt=now()
        <if test="isDelete != null">,isDelete=#{isDelete}</if>
        <if test="name != null">,name=#{name}</if>
        <if test="studentNo != null">,studentNo=#{studentNo}</if>
        <if test="sex != null">,sex=#{sex}</if>
        <if test="birthday != null">,birthday=#{birthday}</if>
        WHERE id=#{id}
    </update>
    <select id="query" resultMap="baseResultMap">
        select s.*,c.name as className
        from `gm_student s`
        left join gm_class c on c.id=s.classId
        WHERE isDelete=0
        <if test="classId != null">and s.classId=#{classId}</if>
        <if test="name != null and name != ''">and s.name=#{name}</if>
        <if test="studentNo != null and studentNo != ''">and s.studentNo=#{studentNo}</if>

    </select>
    <select id="findByStudentNoWithOutSelf" resultType="boolean">
        select exists (
        select 1
        from gm_student
        where studentNo=#{studentNo}
        <if test="id != null">and id=#{id}</if>
        )
    </select>


</mapper>